:root {
  --white: #ffffff;
  --black: #000000;
  --darkGray: #7a7a7a;
  --lightGray: #f6f6f6;
  --fontStyle: "Roboto", sans-serif;
}

body {
  font-family: var(--fontStyle);
  color: var(--black);
  background-color: var(--white);
}

button {
  font-size: 14.5px;
  cursor: pointer;
  border: none;
}

/* NOTES APP */
.emptyState {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
}

.emptyState button {
  height: 35px;
  background-color: black;
  color: white;
  transition: 200ms linear;
}

.emptyState button:hover {
  opacity: 0.75;
}
