.note {
    background-color: var(--lightGray);
    padding: 1em;
    opacity: 0.55;
}

.note:hover {
    opacity: 1;
}

.note small {
    color: var(--darkGray);
    font-weight: 500;
    opacity: 0.72;
    font-size: 12.5px;
}

.note h4 {
    font-weight: 500;
    margin: 10px 0px 0px 0px;
}

.selected-note {
    background-color: var(--black);
    color: var(--white);
    opacity: 1;
}

.selected-note small {
    color: var(--white);
}
